
html, body {
  height: 100%;
  margin: 0;
  padding: 0; 
  overflow: hidden; 
  font-family: 'Google Sans', sans-serif; 
  background-color: #e6e7ee; /* Neumorphic base */
  color: #333740; /* Default text color for neumorphism */
}
body {
  display: flex; 
  flex-direction: column;
}
body.dragging {
  cursor: grabbing; 
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}